<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= article.status %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= article.tags %>
  </p>

</div>
